* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #eeeeee;

}

body {
  font-family: sans-serif;
  overflow-x: hidden;
 /* background-color: #a4508b;*/
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}

.scene,
canvas {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: -1;
}
h1{
  padding-top: 5vh;
  padding-bottom: 3vh;
	padding-left: 1vw;
  font-family: "Montserrat", sans-serif;
}
h2{
  padding top: 1vh;
  padding-left: 1vw;
  font-family: "Montserrat", sans-serif;
}
p{
	padding-left: 1em;
	padding-right: 1vw;
}
.pfp{
  border-radius: 50%;
  width: 30%;
  height: 30%;
}
.quote{
  padding-left: 5vw;
  padding-right: 3vw;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 3em;
}